* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 100px;
  width: 100%;
  background-color: #61b866;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  font-family: DM Sans, sans-serif;
}

.nav-menu {
  position: absolute;
  right: 100px;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-evenly;
}

.logo {
  height: 150px;
  transition: transform 0.1s;
  cursor: pointer;
  position: absolute;
  left: 15%;
}

.logo:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

a {
  font-size: 19px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ede7d9;
}

.search-block {
  height: 500px;

  width: 100%;
  position: relative;
  z-index: 1;
}

.inputs {
  padding-top: 50px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.input-block {
  background-color: #ede7d9;
}

.main-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.depart-input {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  top: 50%;
  left: 30%;
  background-color: #ffffff;
}

.depart-input:focus {
  border-bottom: 1px solid #61b866;
  -webkit-transition: 0.1s;
  transition: 0.5s;
}

.arrivee-input {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  top: 50%;
  left: 40.2%;
  background-color: #ffffff;
}

.arrivee-input:focus {
  border-bottom: 1px solid #61b866;
  -webkit-transition: 0.1s;
  transition: 0.5s;
}

.date-input {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  top: 50%;
  right: 43%;
  background-color: #ffffff;
}

.date-input:focus {
  border-bottom: 1px solid #61b866;
  -webkit-transition: 0.1s;
  transition: 0.5s;
}

.passager-input {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  top: 50%;
  right: 33.4%;
  background-color: #ffffff;
}

.passager-input:focus {
  border-bottom: 1px solid #61b866;
  -webkit-transition: 0.1s;
  transition: 0.5s;
}

.rechercher {
  bottom: 43%;
  left: 67.4%;
  appearance: none;
  background-color: #61b866;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.rechercher:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.rechercher:hover {
  background-color: #2c974b;
}

.rechercher:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.rechercher:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.rechercher:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

@media (max-width: 1715px) {
  .search-container {
    display: block;
    flex-direction: column;
  }
}

.presentation-container {
  height: 700px;
  background-color: #ede7d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
p {
  font-family: DM Sans, sans-serif;
  margin-top: 50px;
}

p {
  font-size: 20px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}

.carousel {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  height: 500px;
  display: block;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

footer {
  height: 170px;
  background-color: #61b866;
  border: solid transparent 2px;
  flex-direction: column;
  align-items: center;
}

.p1-footer {
  margin-top: 50px;
  color: #fff;
}

.p2-footer {
  margin-top: 0;
  color: #fff;
}
